@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  scrollbar-gutter: stable;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 17px;
  line-height: 26px;
}

@media (max-width: 639px) {
  body {
    font-size: 15px;
    line-height: 24px;
  }
}

main {
  flex: 1;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    --tahiti: 0 0% 99%;
    --tahiti-foreground: 0 0% 20%;

    /* Syntax Highlighting Light */
    --sh-identifier: #354150;
    --sh-keyword: #f47067;
    --sh-string: #00a99a;
    --sh-class: #8d85ff;
    --sh-property: #4e8fdf;
    --sh-entity: #6eafad;
    --sh-jsxliterals: #bf7db6;
    --sh-sign: #8996a3;
    --sh-comment: #a19595;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 90%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 90%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 70%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 30%;
    --muted: 0 0% 17%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 0 0% 83.1%;

    --tahiti: 0 0% 12.5%;
    --tahiti-foreground: 0 0% 75%;

    /* Syntax Highlighting Dark */
    --sh-identifier: #e2e2e2;
    --sh-keyword: #f47067;
    --sh-string: #00a99a;
    --sh-class: #8d85ff;
    --sh-property: #4e8fdf;
    --sh-entity: #6eafad;
    --sh-jsxliterals: #bf7db6;
    --sh-sign: #8996a3;
    --sh-comment: #a19595;
  }
}

.sh__line::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  margin-right: 24px;
  text-align: right;
  color: #7a7979;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Prose styles */
.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose {
  font-size: 17px;
  line-height: 26px;
}

@media (max-width: 639px) {
  .prose {
    font-size: 15px;
    line-height: 24px;
  }
}

.katex {
  font-size: 1em !important;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline underline-offset-2 decoration-[0.5px];
  text-decoration-color: currentColor;
}

.prose .anchor:after {
  @apply text-neutral-400 dark:text-neutral-600;
  content: "#";
}

.prose *:hover>.anchor {
  @apply visible;
}

.prose pre {
  @apply rounded-lg overflow-x-auto lg:px-5 border border-border/40;
  background-color: hsl(var(--tahiti));
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0 text-[13.5px];
  border: initial;
  line-height: 1.5;
  counter-reset: sh-line-number;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  @apply m-0;
}

.prose h2,
h3,
h4 {
  @apply font-semibold tracking-tight !important;
  color: var(--foreground) !important;
}

.prose strong {
  @apply font-semibold;
  color: var(--foreground) !important;
}

.prose p,
.prose li {
  color: var(--foreground);
}

.prose table,
.prose th,
.prose td {
  font-size: 17px;
  line-height: 26px;
}

.prose> :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

.prose .callout>p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}

.MafsView {
  @apply rounded-lg border-[1px] border-neutral-500;
  --mafs-bg: #efefef;
  --mafs-fg: #222;
  --mafs-line-color: #444;
  --grid-line-subdivision-color: #555;
}