/* Import Tailwind's base styles, component styles, and utility classes. */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Apply some global styles to all elements on the page. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  scroll-behavior: smooth;
}


/* Define a custom font face for MonumentExtended-Regular. */
@font-face {
  font-family: 'PPMonumentExtended-Regular';
  src: url('/fonts/PPMonumentExtended-Regular.otf') format('opentype'),
       url('/fonts/PPMonumentExtended-Light.otf') format('opentype'),
       url('/fonts/PPMonumentExtended-LightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Define a custom font face for NeueHaasDisplay. */
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-Roman.woff') format('woff'),
         url('/fonts/NeueHaasDisplay-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Apply styles to the body (Dark & Light Mode) */
@layer base {
  body {
    @apply dark:bg-neutral-900 bg-white;
  }
}

/* Styles for the SplitTextAnimation component */
.reveal-text {
  visibility: hidden;
}

.line {
  position: relative;
  overflow: hidden;
  display: flex;
}


 /* Active button styling */
.active {
  color: rgb(207, 207, 207);
}

p {
  word-spacing: 2px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .4;
    visibility: visible;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }
    10% {
        transform: translate(-5%, -5%)
    }
    20% {
        transform: translate(-10%, 5%)
    }
    30% {
        transform: translate(5%, -10%)
    }
    40% {
        transform: translate(-5%, 15%)
    }
    50% {
        transform: translate(-10%, 5%)
    }
    60% {
        transform: translate(15%, 0)
    }
    70% {
        transform: translate(0, 10%)
    }
    80% {
        transform: translate(-15%, 0)
    }
    90% {
        transform: translate(10%, 5%)
    }
    100% {
        transform: translate(5%, 0)
    } 
}


.preloader-done {
  opacity: 0;
  pointer-events: none;
}

.preloader__inner {
  text-align: center;
}

[data-scrollbar] {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
}

.desktop-only {
  display: none; /* hide by default */
}

@media screen and (min-width: 768px) {
  .desktop-only {
    display: block; /* show on desktop devices */
    min-width: 100vw;
    height: 100vh;
  }
}

