/* Import Tailwind's base styles, component styles, and utility classes. */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Apply some global styles to all elements on the page. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  scroll-behavior: smooth;
}


/* Define a custom font face for MonumentExtended-Regular. */
@font-face {
  font-family: 'PPMonumentExtended-Regular';
  src: url('/fonts/PPMonumentExtended-Regular.otf') format('opentype'),
       url('/fonts/PPMonumentExtended-Light.otf') format('opentype'),
       url('/fonts/PPMonumentExtended-LightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Define a custom font face for NeueHaasDisplay. */
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Apply styles to the body (Dark & Light Mode) */
@layer base {
  body {
    @apply dark:bg-neutral-900 bg-white;
  }
}


/* Styles for the SplitTextAnimation component */
.reveal-text {
  visibility: hidden;
}

.line {
  position: relative;
  overflow: hidden;
  display: flex;
}


 /* Active button styling */
.active {
  color: rgb(207, 207, 207);
}

p {
  word-spacing: 2px;
}
